@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.navbar{
    background-color: #1C1E53;
}

.row>*{
    width: auto;
}

.navbar-brand{
    color: white;
    padding: 32px 16px;
}

.nav-link{
    color: #BBBBCB;
    padding: 32px 16px !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.nav-link:hover{
    color: white;
}

.btn-lg{
    background-color: inherit;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid #F4F6FC;
    color: white;
    margin-left: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.btn-lg:hover{
    background-color: inherit;
    padding: 16px 48px;
    border-radius: 41px;
    border: 2px solid #98a6cf;
    color: white;
    margin-left: 50px;
}

.text{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.text h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 64px;
text-align: center;
padding-top: 128px;
color: #282938;
}

.desc1{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;
color: #282938;
opacity: 0.7;
text-align: center;
}

.text h3{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
line-height: 56px;
color: #282938;
}

.longlorem{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #282938;
    opacity: 0.7;
    padding-top: 32px;
}

.longlorem2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
    color: #282938;
    opacity: 0.7;
    padding-top: 24px;
}

.heading3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    padding-top: 40px;
    color: #282938;
}

.longlorem3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
}

.text ul p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #282938;
    opacity: 0.7;
}

.unodos{
    padding-top: 24px;
}

.unodos2{
    padding-top: 12px;
}

.unodos3{
    padding-top: 12px;
}

.longlorem4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    padding-top: 16px;
}

footer{
    height: 397px;
    width: 100%;
    background-color: #1C1E53;
    margin-top: 128px;
}

.svgcode{
    margin-top: 100px;
    margin-left: 158px;
}

.bigbox{
    height: 95px;
    width: 517px;
    background-color: #FCD980;
}

.bigbox > p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    display: inline;
}

.emailthingy{
    padding-top: 18px;

}

.callmepls{
    padding-top: 17px;

}

footer{
    background-color: #1C1E53;
}

.box-foot{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-foot{
    width: 50%;
}

.svgsvgsvg{
    margin-top: 100px;
}

.read-foot p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: white;
    padding-top: 25px;
    padding-bottom: 76px;
}

.box-foot1{
    display: flex;
    flex-wrap: wrap;

}

.col-foot1{
    width: 40%;
    background-color: rgba(252, 217, 128, 1);
}

.read-foot1{
    height: 95px;
    padding-left: 0;
}

.read-foot1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    padding: 18px 0 1px 20px;
    margin: 0;
    color: rgb(0, 0, 43);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

#mymy{
    padding-top: 3px;
    color: #5c5c5c;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#mymy1{
    padding-top: 3px;
    color: #5c5c5c;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.read-foot h2{
    padding-top: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: white;
}

#mymy3{
    padding-top: 14px;
    padding-bottom: 8px;
}


.iconsicons{
    margin: 0 15px;
}

.iconsicons1{
    margin-right: 15px;
}

.navbarnavbar{
    background-color: white;
}

.nav-link1{
    color: black;
}

.nav-link1:hover{
    color: black;
}

.navbar-brand1{
    color: black;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

@media (max-width: 1000px){
    .col-foot{
        width: 100%;
    }

    .justendit{
        padding-bottom: 20px !important;
    }

    .read-foot h2{
        padding-top: 40px;
    }

    .box-foot{
        height: 640px;
    }

    footer {
        height: 640px;
    }
}

@media (max-width: 576px){
    .col-foot{
        margin: 10px;
    }

    .col-foot1{
        width: 80%;
    }

    .box-foot{
        height: 740px;
    }

    .row>* {
        padding-left: 10px;
    }

    footer {
        height: 740px;
    }
}


@media (max-width: 430px){
    .box-foot{
        height: 800px;
    }

    footer {
        height: 840px;
    }
}





